@charset "UTF-8";
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(187, 170, 221, 0.6666666667);
  font-family: Arial, Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body .contenu {
  flex: 1 0 auto;
}

section {
  text-align: center;
}
section .template {
  padding: 150px 0 0 0;
}
section .text {
  padding: 2vw 10vw;
  text-align: justify;
}
@media screen and (max-width: 800px) {
  section .text {
    display: none;
  }
}
section button {
  text-decoration: node;
  margin-bottom: 50px;
}
section button:hover { /*pour le hover*/
  text-decoration: underline;
}

footer {
  flex-shrink: 0;
  border-top: 1px dashed rgb(0, 0, 0);
  width: 100%;
  background: rgba(255, 255, 255, 0.9411764706);
  color: #333;
}
footer .contenu-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  padding: 50px 0 10px;
}
@media screen and (max-width: 800px) {
  footer .contenu-footer {
    flex-wrap: wrap;
    padding: 15px 0 5px;
  }
}
footer .contenu-footer .bloc {
  width: 25%;
  margin: 0 30px;
}
@media screen and (max-width: 800px) {
  footer .contenu-footer .bloc {
    width: 80%;
    margin: 30px 30px;
  }
}
footer .contenu-footer .bloc:nth-child(1), footer .contenu-footer .bloc:nth-child(2) {
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  footer .contenu-footer .bloc:nth-child(1), footer .contenu-footer .bloc:nth-child(2) {
    margin-bottom: 10px;
  }
}
footer .contenu-footer .bloc h3 {
  font-size: 22px;
  padding-bottom: 20px;
}
@media screen and (max-width: 800px) {
  footer .contenu-footer .bloc h3 {
    padding-bottom: 5px;
  }
}
footer .contenu-footer .bloc ul {
  list-style-type: none;
}
footer .contenu-footer .bloc ul li {
  margin: 10px 0;
}
footer .contenu-footer .bloc ul li span {
  font-weight: bold;
}
footer .contenu-footer .bloc ul li a {
  text-decoration: underline;
  color: #333;
}
footer .contenu-footer .bloc ul li a:hover {
  color: rgb(0, 77, 149);
}

.infinit-part {
  width: 100%;
  padding: 8px 0px;
  position: fixed;
  background: rgba(255, 255, 255, 0.9411764706);
  border-bottom: 1px dashed rgb(0, 0, 0);
}
@media screen and (max-width: 800px) {
  .infinit-part {
    display: none;
  }
}
.infinit-part .container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  overflow: hidden; /* Pour cacher le texte dépassant de la largeur */
}
.infinit-part .container .txt {
  white-space: nowrap;
  animation: scroll 15s linear infinite;
  transform: translateX(100%); /* Initial position hors de l'écran */
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.infinit-part .container .txt .it {
  font-style: italic;
  font-weight: bold;
}

#navbar {
  position: fixed;
  top: 35px;
  width: 100%;
  padding: 15px 35px;
  background: rgba(255, 255, 255, 0.9411764706);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.32);
}
@media screen and (max-width: 800px) {
  #navbar {
    padding: 7px 15px;
    position: fixed;
    top: 0px;
  }
}
#navbar .first-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
}
#navbar .first-container .nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .nav-icon {
    order: 2;
    margin: auto;
  }
}
#navbar .first-container .nav-icon img {
  width: 40px;
}
#navbar .first-container .nav-icon span {
  font-family: sans-serif;
  transform: translateY(3px);
  font-size: 30px;
  margin-left: 10px;
  font-weight: 600;
  color: #333;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .nav-icon span {
    font-size: 22px;
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks {
    order: 1;
  }
}
#navbar .first-container .main-navlinks .hamburger {
  display: none;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: transparent;
    align-items: center;
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .main-navlinks .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s;
  }
  #navbar .first-container .main-navlinks .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  #navbar .first-container .main-navlinks .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  #navbar .first-container .main-navlinks .hamburger span:nth-child(1), #navbar .first-container .main-navlinks .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
}
#navbar .first-container .navlinks-container {
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container.open {
    transform: translate(0%);
  }
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: rgba(255, 255, 255, 0.8588235294);
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 50px;
    box-shadow: 4px 0px 6px -2px rgba(0, 0, 0, 0.1);
    transform: translate(-100%);
    max-width: 70%;
  }
}
#navbar .first-container .navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  transform: translateY(4px);
  text-decoration: none;
  color: #333;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 800px) {
  #navbar .first-container .navlinks-container a {
    font-size: 25px;
    margin: 20px 0;
  }
}
#navbar .first-container .navlinks-container a:nth-child(1) {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
#navbar .first-container .navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}
#navbar .first-container .navlinks-container a:hover::after {
  transform: scaleX(1);
}

/*# sourceMappingURL=style.css.map */
