body {
    background-color: $bg-color;
    font-family: Arial, Courier, monospace;
    line-height: 1.5;
    color: $font-color-principal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    @media (prefers-color-scheme: dark) {
        background-color: rgb(26, 56, 123);
        color: $font-color-principal;
    }

    .contenu {
        //grow shrink basis
        flex: 1 0 auto;
    }
}

html {
    scroll-behavior: smooth;
}