.chronometre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    left: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.166);
    box-shadow: $box-shadaw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    .corner-round {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgba(170, 170, 170, 0.699);
        box-shadow: $box-shadaw;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transform: translate(10px, -10px);
        cursor: pointer;
    }

    h4 {
        padding: 5px;
        //empêche la séléction du text
        user-select: none; /* Propriété standard */
        -moz-user-select: none; /* Firefox */
        -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
        -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */

        @media screen and (min-width: $mq) {
            padding: 10px;
            font-size: large;
        }
        
        @media (prefers-color-scheme: dark) {
            color: $font-color-dark;
        }
    }
}