#navbar {
    position: fixed;
    z-index: 1;
    top: 35px; //for infinite nav
    width: 100%;
    padding: 15px 35px;
    //background: $navbar-color;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: $box-shadaw;

    @media (prefers-color-scheme: dark) {
        //background-color: $font-color-principal;
        color: $font-color-dark;
    }

    @media screen and (max-width: $mq) {
        padding: 7px 15px;
        position: fixed;
        top: 0;
    }

    //permet de mettre la max-width
    .first-container {
        margin: auto;
        max-width: $max-width;
        display: flex;
        align-items: center;

        //logo
        .nav-icon {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-right: 20px;

            @media screen and (max-width: $mq) {
                order: 2;
                margin: auto ;
            }

            img {
                width: $img-logo;
            }
            span {
                font-family: sans-serif;
                transform: translateY(3px);
                font-size: $size-textlogo;
                margin-left: 10px;
                font-weight: $weight-logo;
                color: $font-color-dark;

                @media screen and (max-width: $mq) {
                    font-size: $size-textlogo-media;
                }
            }
        }

        //hamburger
        .main-navlinks {
            @media screen and (max-width: $mq) {
                order: 1;
            }

            .hamburger {
                display: none;

                @media screen and (max-width: $mq) {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    border: none;
                    display: flex;
                    background: transparent;
                    align-items: center;
                    position: relative;
                }

                &.open {
                    span:nth-child(1){
                        @media screen and (max-width: $mq) {
                            transform: translate(0) rotate($rotated);
                        }
                    }
                    span:nth-child(2){
                        @media screen and (max-width: $mq) {
                            opacity: 0;
                            transition: opacity 0s ease-out;
                        }
                    }span:nth-child(3){
                        @media screen and (max-width: $mq) {
                            transform: translate(0) rotate(-$rotated);
                        }
                    }
                }

                span {

                    @media screen and (max-width: $mq) {
                        display: block;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        pointer-events: none;
                        transition: opacity 0.3s 0.15s;
                        background-color: $font-color-dark;
                        color: $font-color-dark;
                        

                        &:nth-child(1) {
                            transform: translateY(7px);
                        }
                        &:nth-child(3) {
                            transform: translateY(-7px);
                        }

                        &:nth-child(1), &:nth-child(3) {
                            transition: transform 0.3s ease-out;
                        }
                    }
                }
            }
        }

        //liens
        .navlinks-container {
            margin-left: auto;
            
            &.open {
                @media screen and (max-width: $mq) {
                    transform: translate(0%);
                }
            }
            @media screen and (max-width: $mq) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                background: $hamburger-color;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                top: 100%;
                left: 0;
                height: 100vh;
                padding: 50px;
                box-shadow: $box-shadaw-right;
                transform: translate(-100%);
                max-width: 70%;

                // Styles par défaut
                @media (prefers-color-scheme: light) {
                    // Les styles spécifiques au mode clair
                    background-color: $hamburger-color;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    color: $font-color-principal;
                }

                // Styles pour le mode sombre
                @media (prefers-color-scheme: dark) {
                    background-color: $hamburger-color-dark;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                }
            }

            a {
                margin: 0 10px;
                font-size: $size-link;
                font-weight: 500;
                transform: translateY(4px);
                text-decoration: none;
                color:  $font-color-dark;
                display: inline-block;
                position: relative;

                @media screen and (max-width: $mq) {
                    font-size: $size-hamburger;
                    margin: 20px 0;

                    @media (prefers-color-scheme: light) {
                        color: $font-color-principal;
                    }
                    @media (prefers-color-scheme: dark) {
                        color: $font-color-principal;
                    }
                }

                &:nth-child(1) {
                    color: $blanc-color;
                    font-weight: 600;

                    @media (prefers-color-scheme: dark) {
                        color: $font-color-dark;
                    }
                    @media screen and (max-width: $mq) {
                        color: $font-color-principal;
                    }
                }

                //animation au survol
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    width: 100%;
                    height: 2px;
                    transform: scale(0);
                    transform-origin: left;
                    background:$font-color-dark;
                    transition: transform 0.3s ease-out;

                    @media screen and (max-width: $mq) {
                        background: $bg-color-dark;
                    }
                }
                &:hover::after {
                    transform: scaleX(1);
                }
            }  
        }
    }
}
