*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//séléction su text
::selection {
    color: $blanc-color;
    background: $selection-color;
}
::-moz-selection {
    color: $blanc-color;
    background: $selection-color;
}