.avant-block {
    padding-top: 120px;
    @media screen and (max-width: $mq) {
        padding-top: 50px;
    }
}

.template-section {
    width: 100%;
    @media (prefers-color-scheme: dark) {
        color: $font-color-dark;
    }

    .template-container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        text-align: center;

        .template {
            padding: 30px 0 0 0;
        }

        p {
            padding: 30px 10%;
            text-align: justify;

            a {
                text-decoration : underline;
                color: $font-color-principal;

                
                @media (prefers-color-scheme: dark) {
                    color: $font-color-dark;
                }

                &:hover {
                    color: $link-hover-color;
                }
            }
        }

        h3,
        h4 {
            text-align: left;
            padding: 0 0 0 15px;
            font-weight: bold;
        }
        h4 {
            padding: 0 0 0 30px;
        }


        img {
            //empêcher séléction d'une image
            user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        button {
            text-decoration: node;
            margin-bottom: 50px;

            &:hover { /*pour le hover*/
                // font-size: $taille+3;
                text-decoration: underline;
            }
        }
    }
}
