section {
    text-align: center;

    .template {
        padding: 100px 0 0 0;
        //@include transform(rotate(30deg));
        // @extend %policeSpan; //appel avec extend
    }

    .text {
        padding: 2vw 10vw;
        text-align: justify;
        @media screen and (max-width: 800px) {
			display: none;
		}
    }

    button {
        text-decoration: node;
        margin-bottom: 50px;

        &:hover { /*pour le hover*/
            // font-size: $taille+3;
            text-decoration: underline;
        }
    }
}

