//couleurs
$selection-color: #004d95;
$blanc-color: #fff;
$bg-color: #306ff6; 
$bg-color-dark: #1e1233aa;
$navbar-color: #ffffff;
$hamburger-color: #ffffffdb;
$font-color-principal: #333;
$font-color-dark: #c0c0c0;
$hamburger-color-dark: #c0c0c0e3;
$link-hover-color: rgb(134, 92, 217);
$black: rgb(0, 0, 0);

$box-shadaw: 0 2px 6px rgba(0, 0, 0, 0.32);
$box-shadaw-right: 4px 0px 6px -2px rgba(0, 0, 0, 0.1);

//tailles polices
$size-textlogo: 30px; 
$size-link: 16px;
$size-textlogo-media: 22px;
$size-hamburger: 25px;
$size-404-phone: 35px;
$size-404: 50px;

//gras polices
$weight-logo: 600;


//tailles images
$img-logo: 40px;


//media query (max-width)
$max-width: 1200px;
$mq: 800px;

//transorm (rotated)
$rotated: 135deg;
